<div class="row form-romano">
  <div class="mx-auto col-10 col-md-8 col-lg-6">
    <h1>New Booking</h1>
    <p><%= simple_form_for @booking do |f| %>
      <div class="form-inputs">
        <%= f.input :rental_start, input_html: {data: { controller: "datepicker" } }, as: :string %>
        <%= f.input :rental_end, input_html: {data: { controller: "datepicker" } }, as: :string %>
      </div>
        <%= f.submit "Submit booking", class: "btn btn-primary" %>
    <% end %></p>
  </div>
</div>
