<h1>New Booking</h1>
<p><%= simple_form_for [@planet, @booking] do |f| %>
  <%= f.input :rental_start %>
  <%= f.input :rental_end %>
  <%= f.submit "Submit booking", class: "btn btn-primary" %>
<% end %></p>
