<h1>New Booking</h1>
<p><%= simple_form_for [@planet, @booking] do |f| %>
  <%= f.input :rental_start, input_html: {data: { controller: "datepicker" } }, as: :string %>
  <%= f.input :rental_end, input_html: {data: { controller: "datepicker" } }, as: :string %>
  <%= f.submit "Submit booking", class: "btn btn-primary" %>
<% end %></p>
