<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/nasa/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/NASA"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/NASA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a>
  </div>


  <div class="footer-copyright">
    Fais avec <i class="fas fa-heart"></i> chez Le Wagon
  </div>
</div>
