
<h1>All Planets</h1>

<div class="row">
         <% @planets.each do |planet| %>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card mb-2">
              <div class="card-img-top"><%= (image_tag planet.photo, width: 400, height: 300, crop: :scale) %></div>
                <div class="card-body">
                  <span class="badge bg-primary mb-2"><%= planet.price %> </span>
                  <h5 class="card-title"><%= planet.name %></h5>
               </div>
            </div>
          </div>

         <% end %>
      <%= link_to "Add a new Planet", new_planet_path, class: 'btn btn-primary' %>
</div>
