
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1503751071777-d2918b21bbd9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);">
  <div class="container-romano">
    <h1>Air Pnb la plateforme idéale <strong>pour réserver des planètes </strong> de <strong>votre choix</strong>!</h1>
    <p>Vivez une expérience inédite dans l'espace et profitez de moments inoubliables.</p>
    <%# <a class="btn btn-flat btn btn-primary" href="/new_booking_path">Louer une planète</a> %>
     <%= link_to "🪐 Louer une planète 🪐", planets_path, class:"btn-romano" %>
  </div>
</div>



<div class="container my-5"  >
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1632395627760-72e6eca7f9c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80)">
      Vivez une belle expérience
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1637984135921-301a7d39e3b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1015&q=80)">
      Découvrez des planètes
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1560507074-b9eb43faab00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80)">
      Profitez de la vue
    </div>
  </div>
</div>

  <div class="container d-flex gap-2 justify-content-center mt-5">
    <div class="d-flex flexbox align-items-start custom-size p-2">
      <div>
        <h2>Mme Space</h2>
        <p> Très belle expérience dans l'espace. Je vous recommande absolument !!!</p>
        <div class="text-success">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
        </div>
      </div>
      <div class="d-flex">
        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" class="avatar"/>
      </div>
    </div>

    <div class="d-flex flexbox align-items-start custom-size p-2">
      <div>
        <h2>Mr Danslesnuages</h2>
        <p>  J'ai adoré passer une belle semaine au coeur des galaxies !!!</p>
        <div class="text-success">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
        </div>
      </div>
      <div class="d-flex">
        <img src="https://images.unsplash.com/photo-1511551203524-9a24350a5771?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" class="avatar"/>
      </div>
    </div>



  <div class="d-flex flexbox align-items-start custom-size p-2">
    <div>
        <h2>Mme Cloud</h2>
        <p> Cétait vraiment top !! A essayer de toute urgence, vous allez adorer !!</p>
        <div class="text-success">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
        </div>
    </div>
    <div class="d-flex">
      <img src="https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" class="avatar"/>
    </div>
  </div>
</div>
