.dashboard-container h2 {
  color: #e9ecef;
  font-family: 'Trispace', sans-serif;
}

.dashboard-container h3 {
  color: #F29CA3;
  font-family: 'Trispace', sans-serif;
}

.dashboard-container h5 {
  color: #84E6F8;
  font-family: 'Trispace', sans-serif;
}

.dashboard-card {
  background-image: url("https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80");
}

.booking-delete {
  background-color: #F29CA3;
}
