.form-romano {
  padding: 20px;
  background-image: url("https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2093&q=80");

  h2 {
    color: #F29CA3;
  }
}

.form-inputs {
  color: #F29CA3;
}

.submit-romano {
  text-decoration: none;
  color: #F29CA3;
  font-size: 1.1em;
}
