<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé un lien pour changé votre mot de passe. Vous trouverez le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'orgine de cette demande, vous pouvez ignorer cet email.</p>
<p>Votre mot de passe ne sera pas modifié à moins que vous cliquiez sur le lien ci-dessus pour  créer un nouveau mot de passe.</p>
